.jumbotron {
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin-bottom: 0;
    background-color: #fff;
  }
  @media (min-width: 768px) {
    .jumbotron {
      padding-top: 6rem;
      padding-bottom: 6rem;
    }
  }
  .carousel {
    margin-bottom: 4rem;
  }
  /* Since positioning the image, we need to help out the caption */
  .carousel-caption {
    bottom: 3rem;
    z-index: 10;
  }
  
  /* Declare heights because of positioning of img element */
  .carousel-item {
    height: 32rem;
  }
  .carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 32rem;
  }

  .nav-link:hover{
    border-bottom:2px solid #bd2130;
  }
  
  .featurette-divider {
    margin: 2rem 0 1rem 0; /* Space out the Bootstrap <hr> more */
  }
  .backgroundS{
	margin:0;
  padding:0;
  background:linear-gradient(rgba(0,0,0,1),rgba(0,0,0,1),rgba(0,0,0,-1));
	background-size: 100%;
	background-size: cover;
	background-position: center;
  background-repeat: no-repeat;
  height: 75%;
  }
  .c-img{
    width:1000px;
    height:1000px;
  }
  .jumbotron p:last-child {
    margin-bottom: 0;
  }
  
  .jumbotron h1 {
    font-weight: 300;
  }
  
  .jumbotron .container {
    max-width: 40rem;
  }
  
  footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
 
  footer p {
    margin-bottom: .25rem;
  }
  .navbar-toggler-icon {
    background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%225, 0, 0, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }